*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: #EAEAEA;
    font-family: "Bio Sans", sans-serif;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

input:focus {
    outline: none;
}

input[type=text],
input[type=password] {
    font: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding-bottom: 4px;
    border-bottom: 2px solid #DDDDDD;
}