*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:visited,
a:focus,
a:hover {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 66px;
    color: #FFFFFF;
    background: #1B191C;
    font-family: "Roboto", sans-serif;
    height: 100%;
}

body > .header {
    position: fixed;
    background: #131214;
    top: 0;
    padding: 15px 0;
    z-index: 100;
    width: 100%;
}

body > .header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

body > .header .logo {
    position: relative;
    top: -2px;
    font-family: "bio-sans", "Bio Sans", "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 1000px) {
    .container {
        padding: 0 40px !important;
    }
}

@media only screen and (max-width: 670px) {
    .container {
        padding: 0 30px !important;
    }
}

body > .container {
    margin-top: 40px;
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    flex-direction: column;
    height: 100%;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(190deg, #cb2d3e 0%, #8a2339 100%);
    border-radius: 50px;
    padding: 20px 30px;
    margin-bottom: 50px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.alert .icon {
    height: 20px;
    margin-right: 20px;
}

.alert .icon svg {
    width: 20px;
    fill: #FFFFFF;
}

.alert .content {
    font-size: 16px;
}

.actions {
    margin-bottom: 40px;
}

.actions .header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 15px;
}

.actions .header .title {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.actions .header .modify {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
}

.actions .header .modify .icon {
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.actions .header .modify .icon svg {
    fill: rgba(255, 255, 255, 0.7);
    height: 15px;
    width: 15px;
}

.actions .buttons {
    display: flex;
    flex-wrap: wrap;
}

.actions .buttons.long .button {
    width: 100%;
    margin-right: 0;
}

@media only screen and (max-width: 1000px) {
    .actions .buttons {
        justify-content: space-between;
    }

    .actions .buttons .button {
        width: 48%;
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 670px) {
    .actions .buttons {
        flex-direction: column;
    }

    .actions .buttons .button {
        width: 100%;
    }
}

.actions .buttons .button {
    display: flex;
    align-items: center;
    background: #2A282C;
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    padding: 14px 40px;
    margin-right: 30px;
    margin-bottom: 20px;
    min-width: 280px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
}

.actions .buttons .button:hover {
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.15);
}

.actions .buttons .button:nth-child(3n) {
    margin-right: 0;
}

.actions .buttons.long .button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actions .buttons.long .button .left {
    display: flex;
    align-items: center;
    flex: 1;
}

.actions .buttons.long .button .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    flex: 1;
}

.actions .buttons.long .button .edit {
    height: 24px;
    margin-left: 35px;
}

.actions .buttons.long .button .edit svg {
    width: 24px;
    fill: rgba(255, 255, 255, 0.5);
}

.actions .buttons .button .icon {
    position: relative;
    top: -1px;
    margin-right: 24px;
    height: 34px;
}

.actions .buttons .button .icon svg {
    fill: #FFFFFF;
    width: 26px;
}

.actions .buttons .button .details {
    display: flex;
    flex-direction: column;
}

.actions .buttons .button .details .title {
    margin-bottom: 3px;
}

.actions .buttons .button .details .subtitle {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
}

.preview {
    background: #2A282C;
}

.preview .container {
    padding-top: 30px !important;
    padding-bottom: 35px !important;
}

.preview .container > .title {
    opacity: 0.75;
}

.preview .container .actions {
    margin: 0;
}

.preview .container .actions .buttons {
    margin-top: 20px;
}

.preview .container .actions .buttons .button {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    cursor: default;
}

.medicate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 120px;
}

@media only screen and (max-width: 670px) {
    .medicate .field {
        width: 100% !important;
    }
}

.medicate .field {
    margin-bottom: 20px;
    width: 48%;
}

.medicate .field.wide {
    width: 100%;
}

.medicate .field .title {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin-bottom: 20px;
}

.medicate .submit {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.icon.prescription svg {
    fill: #FF6A6A !important;
}

.icon.as-needed svg {
    fill: #F8CB64 !important;
}

.icon.temporary svg {
    fill: #6CBF86 !important;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

select,
textarea,
input[type=date] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=text],
input[type=number],
input[type=date],
input[type=password],
textarea,
select {
    width: 100%;
    font: inherit;
    font-size: 16px;
    color: #EEEEEE;
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: #2A282C;
    padding: 11px 22px;
    margin-bottom: 20px;
    resize: none;
}

input:disabled {
    color: rgba(255, 255, 255, 0.8);
}

input[type=button],
input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: inherit;
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 11px 33px;
    background: #2A282C;
    border-radius: 20px;
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}
