<div class="header">
    <div class="logo"><img src="/assets/img/logo.svg"></div>
    <div class="title">Login</div>
</div>

<form target="" id="form">
    <div class="title">User</div>
    <input type="text" placeholder="Username" name="username" id="username" required>

    <div class="title">Password</div>
    <input type="password" placeholder="Password" name="password" id="password" required>

    <div class="submit">
        <input type="submit" class="button" value="Submit">
    </div>
</form>

<script>
    $("#form").on("submit", function(event) {
        event.preventDefault();

        var username = $("#username").val();
        var password = $("#password").val();

        if (!username || !password) {
            return console.error("missing fields");
        }

        $.post("/api/login", { username: username, password: password }, function(data) {
            if (data.ok) {
                return window.location.replace("/");
            } else {
                return console.error(data.error);
            }
        });

        return;
    });
</script>