<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="/assets/css/login.css" rel="stylesheet">
    <script src="/assets/js/jquery.js"></script>
</head>
<body>

    <div class="container">
        <div class="decal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450 764" id="mark">
                <polygon points="0 293.27 293.09 0.18 449 0.18 0 447.93 0 293.27" fill="#1b1b1b" />
                <polygon points="0 764 0 604.64 290.77 313.86 449 313.86 0 764" fill="#1b1b1b" />
            </svg>
        </div>
        <div class="login">
            <div class="title">Login</div>
            <div class="form">
                <form id="form">
                    <input type="text" name="username" id="username" placeholder="Username" required>

                    <input type="password" name="password" id="password" placeholder="Password" required>

                    <div class="options">
                        <div class="left">Don't have an account?<br><span class="em">Sign Up.</span></div>
                        <div class="right">
                            <input type="submit" class="button" value="Sign In">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $("#form").on("submit", function(event) {
            event.preventDefault();

            var username = $("#username").val();
            var password = $("#password").val();

            if (!username || !password) {
                return console.error("missing fields");
            }

            $.post("/api/login", { username: username, password: password }, function(data) {
                if (data.ok) {
                    return window.location.replace("/");
                } else {
                    $("#password").select();
                    return console.error(data.error);
                }
            });

            return;
        });
    </script>

</body>
</html>
